<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo Home</title>
    <script>
      if (
        location.hostname === "todopwa.pythonanywhere.com" &&
        location.protocol !== "https:"
      ) {
        location.href = location.href.replace("http:", "https:");
      }
    </script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="manifest" href="/manifest.json" />
    <style>
      body {
        background-color: black;
        color: white;
      }
      #navBar {
        position: fixed;
        bottom: 0px;
        width: 100%;
      }
      #addBox {
        width: auto;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
      }
      #addBtn {
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
      }
      #todo {
        background-color: rgb(49, 42, 42);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div class="text-center">
      <br />
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <span>{{ message }}</span>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <div class="container text-center">
        <div class="text-right">
          <a href="/logout">
            <button class="btn btn-danger">Logout</button>
          </a>
        </div>
        <h3>My TODOs</h3>
      </div>
      <br />
      <!-- Main ToDo Contents start here -->
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-4 col-md-3"></div>
          <div class="col-lg-4 col-md-6 text-center">
            <div id="todolist" class="text-center">
              <!-- {% for i in range(10) %}
              <div id="todo" class="container text-left">
                <div class="container pt-3 pb-1">
                  <p>
                    Hi I am Shouvik Bajpayee
                  </p>
                </div>
                <div id="done" class="text-right">
                  <i class="fas fa-check-double"></i>
                </div>
              </div>
              <br />
              {% endfor %} -->
            </div>
          </div>
          <div class="col-lg-4 col-md-3"></div>
        </div>
      </div>
    </div>
    <br /><br /><br />

    <!-- Below is the bottom "nav bar" -->
    <nav id="navBar" class="navbar navbar-dark bg-dark">
      <div class="container">
        <div style="float: left;">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Write your ToDo"
            aria-label="Search"
            name="addBox"
            id="addBox"
          />
        </div>
        <div style="float: right;" align="right">
          <button id="addBtn" class="btn btn-primary my-2 my-sm-0">
            <i class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </nav>

    <!-- Custom "JQuery Scripts" -->
    <script>
      $(document).ready(function () {
        // fetch all todos
        $.ajax({
          method: "get",
          url: "/todo",
        }).done(function (res) {
          var data = "";
          $.each(res, function (index, value) {
            data += '<div id="todo" class="container text-left">';
            data += '<div class="container pt-3 pb-1">';
            data += "<p>" + value["todoString"] + "</p>";
            data += "</div>";
            data += `<a href="/delete/todo/${value["id"]}">`;
            data += '<div id="done" class="text-right">';
            data += '<i class="fas fa-check-double"></i>';
            data += "</div>";
            data += "</a>";
            data += "</div>";
            data += "<br />";
          });
          $("#todolist").html(data);
        });

        // add todo
        $("#addBtn").on("click", function (e) {
          $("#todolist").empty();
          $.ajax({
            method: "post",
            url: "/todo",
            data: { text: $("#addBox").val() },
            success: function (res) {
              var data = "";
              $.each(res, function (index, value) {
                data += '<div id="todo" class="container text-left">';
                data += '<div class="container pt-3 pb-1">';
                data += "<p>" + value["todoString"] + "</p>";
                data += "</div>";
                data += `<a href="/delete/todo/${value["id"]}">`;
                data += '<div id="done" class="text-right">';
                data += '<i class="fas fa-check-double"></i>';
                data += "</div>";
                data += "</a>";
                data += "</div>";
                data += "<br />";
              });
              $("#todolist").html(data);
              $("#addBox").val("");
            },
          });
        });
        // delete todo
      });
    </script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="/app.js"></script>
  </body>
</html>
