<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <script>
      if (
        location.hostname === "todopwa.pythonanywhere.com" &&
        location.protocol !== "https:"
      ) {
        location.href = location.href.replace("http:", "https:");
      }
    </script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/136b4fde49.js"
      crossorigin="anonymous"
    ></script>
    <link rel="manifest" href="/manifest.json" />
    <style>
      body {
        background-color: black;
        color: white;
      }
      #email,
      #password {
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.13);
        color: white;
      }
      #submitBtn,
      #resetBtn {
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        width: 80%;
      }
    </style>
  </head>
  <body>
    <div class="">
      <div class="container mt-5 mb-5 text-center">
        <h1>Register</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-3"></div>
          <div class="col-lg-4 col-md-6">
            <form action="/signup" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="email"
                  name="email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="password"
                  required
                />
              </div>
              <div class="text-center">
                <div class="container">
                  <button
                    id="submitBtn"
                    type="submit"
                    class="btn btn-primary mt-4"
                  >
                    Register
                  </button>
                </div>
                <div class="container">
                  <button
                    id="resetBtn"
                    type="reset"
                    class="btn btn-danger mt-4"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 col-md-3 mt-5">
            <div class="container text-center">
              <div class="container">
                <p>
                  Already have account ?
                  <span><a href="/login">Login here</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="/app.js"></script>
  </body>
</html>
